@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>Kütüphane Yönetim Sistemi</title>
<h2>Duyurular</h2>
<div style="margin-bottom:15px;">
    <a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Duyuru Ekle</a>
</div>
<table class="table table-striped">
    <tr style="background-color:#818181">
        <th style="color:white">Duyuru ID</th>
        <th style="color:white">Kategori</th>
        <th style="color:white">Tarih</th>
        <th style="color:white">Sil</th>
        <th style="color:white">içerik</th>
    </tr>
    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.ID</td>
            <td>@prs.KATEGORI</td>
            <td>@Convert.ToDateTime(prs.TARIH).ToString("dd/MM/yyyy")</td>
            <td>
                @Html.ActionLink(
                     "Sil", "DuyuruSil",
                     new { id = prs.ID },
                     new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')", @prs.KATEGORI }
                     )
            </td>

            <td><a href="/Duyuru/DuyuruDetay/@prs.ID" style="background-color:seagreen; color:white;" class="btn btn-default">Detaylar</a></td>
        </tr>
    }
</table>

