@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>Kütüphane Yönetim Sistemi</title>
<h3>Yazarlar</h3>
<a href="/Yazar/YazarEkle" class="btn btn-primary">Yazar Ekle</a>
<div style="margin-top:15px"></div>
<table class="table table-striped">
    <tr style="background-color:#818181">
        @*@<th>ID</th>*@
        <th style="color:white">AD</th>
        <th style="color:white">SOYAD</th>     
        <th style="color:white">SİL</th>
        <th style="color:white">GÜNCELLE</th>
        <td style="color:white">YAZARIN KİTAPLARI</td>

    </tr>
    @foreach (var y in Model)
    {
        <tr>
            @*<td>@y.ID</td>*@
            <td>@y.AD</td>
            <td>@y.SOYAD</td>
            <td>
                @Html.ActionLink(
                "Sil", "YazarSil",
                new { id = y.ID },
                new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" }
                )
            </td>
            <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Yazar/YazarKitaplar/@y.ID" style="background-color:seagreen; color:white;" class="btn btn-default">Yazarın Kitapları</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

