@model MvcKutuphane.Models.Entity.TBLUYELER
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <title>Kütüphane Yönetim Sistemi</title>
<h2>Üye Ekle</h2>
<form class="form-group" method="post">

    <div>
        <a href="/Uye/Index" class="btn btn-danger">Geri</a>
    </div>
    <div style=" margin-top:15px">
        <label>Üye Adı</label>
        @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:red" })
    </div>
    <div style=" margin-top:15px">
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color:red" })
    </div>

    <div style=" margin-top:15px">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KULLANICIADI, "", new { @style = "color:red" })
    </div>
    <div style=" margin-top:15px">
        <label>Şİfre</label>
        @Html.TextBoxFor(x => x.SIFRE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SIFRE, "", new { @style = "color:red" })
    </div>
    <div style=" margin-top:15px">
        <label>Fotoğraf Linki</label>
        @Html.TextBoxFor(x => x.FOTOGRAF, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FOTOGRAF, "", new { @style = "color:red" })
    </div>
    <div style=" margin-top:15px">
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.TELEFON, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TELEFON, "", new { @style = "color:red" })
    </div>
    <div style=" margin-top:15px">
        <label>Okul</label>
        @Html.TextBoxFor(x => x.OKUL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OKUL, "", new { @style = "color:red" })
    </div>

    <div style="margin-top:15px">
        <div style="margin-top:15px"></div>
        <button class="btn btn-info" id="Btn2">Üye Ekle</button>

    </div>
</form>
